[Unit]
Description=Brewie Appliance Service
After=multi-user.target

[Service]
Type=simple
User=brewie
Group=brewie
WorkingDirectory=/opt/brewie
ExecStartPre=/bin/sh -c 'printf "\\033[?25l" > /dev/tty1'
ExecStart=/opt/brewie/brewie_app
Restart=always
RestartSec=2

TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
